.git
.launch
.idea
.vscode
.env
.env.*
node_modules
apps/web/node_modules
packages/contracts/node_modules
.nuxt
.output
dist
.data
out
cache
broadcast
coverage
*.log
*.db
apps/web/.nuxt
apps/web/.output
apps/web/dist
apps/web/.data
packages/contracts/out
packages/contracts/cache
packages/contracts/broadcast
